@media screen and (max-width: 767px){

.site-title-seciton{
	display: none;

}
.icons {
	display: none;
}
.add-to-card-button{
margin-top: 40px;
margin-right: 330px;

width: 250px;
}

.start-chat-button{
	display: none;
}
#price{
	display: none;
}
#rototate-icon-2{
	margin-top: 10px;
	margin-left:  90%;
	position: absolute;

}
.menu{
	display: none;
}
#main-title{
	position: absolute;
}
header{
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
}
.tit{
	width: 500px;
}
#image1{
	height: 550px;
}
#image2{
	height: 550px;
}
#image3{
	height: 550px;
}
.items{
	display: grid;
	margin-left: 15%;
}

.items div{
	margin-right: auto;
	margin-left: auto;
}
.container{
		margin-left: auto;
	margin-right: auto;
	margin-top: 370px;
}
.top2{
	margin-top: 30px;
}
.items div:nth-child(2){
	margin-top: 20px;
}
.items div:nth-child(3){
	margin-top: 20px;
}
.items p{
	width: 400px;
}
.about-us{
	margin-top: -10px;
	font-size: 30px;
}.info{
	width: 500px;
	text-align: center;
	margin-top: -30px;
	margin-left: auto;
	margin-right: auto;
	max-height: 200px;
}
.info br{
	display: none;
}

.read-more{
	margin-top: 120px;
	margin-left: -60%;

}
.slider-menu ul{
	align-items: center;
    margin: 50px auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    cursor: pointer
}

.main-slide{
	display: grid;
}
.main-slider{
	display: grid;
}

.text-on-main-slide{
	font-size: 25px;
}

.main-slider-picture{
	height: 1400px;
}
.under-slide-main-div2{
	margin-top: 30px;
}
.under-slide-main-div3{
	margin-top: 30px;
}
.hero-pannel{
display: grid;
}
textarea{
	
	margin: 15px auto;
	width: 400px; 
}
.footer-menu{
	display: none;
}
.grid-div{
	width: 400px;
	margin: 0 auto;
}
.send{
	margin-left: 40%;
}
}


@media screen and (max-width: 1300px){


.info br{
	display: none;
}

}


